body { 
    background: url("../images/beerBackground.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


/* div {
    border: 1px solid red; 
} */

h1 {
    text-align: center;
    margin: 50px 0px 50px 200px;
    font-family: 'Shrikhand', cursive;
}

#mainContent {
    margin-top: 125px;
}


